<% # -*- coding: utf-8 -*- %>
<% require 'rubygems' %>
<% require 'dbi' %>
<% #データベースの接続とオートコミットのオフ  %>
<% dbh = DBI.connect( 'DBI:SQLite3:bookinfo_sqlite.db') %>
<% dbh['AutoCommit'] = false%>
<% dbh.transaction do %>
<% rawrows = dbh.select_all("select * from bookinfos;") %>
<% displayitem=5 unless displayitem %>
<% page=1 unless page %>
<% hits = rawrows.length %>
<% maxpage = (hits.to_f / displayitem.to_f).ceil %>
<% rows = rawrows.slice((page-1)*displayitem, displayitem) %>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html";
  charset=UTF-8 />
  <link rel="stylesheet" type="text/css" href="defalut.css">
  <title>蔵書管理</title>
</head>
<body>
  <h1>蔵書管理</h1>
  <h2>蔵書データの表示</h2>
  <p>
    処理する蔵書データを表示してください  |
    <a href= "entry.erb">蔵書データの登録</a> |
    <a href= "retrieve.erb">蔵書データの検索</a> |
    <a href= "index.html">メニュー画面に戻る</a>
  </p>
  <hr>
  <div>
    <%= hits %>件中<%= rows.length %>件表示
    <%= page %>ページ目
    <form method="post" action="/mainlist">
      表示件数:
      <select name="displayitem" onchange="submit(this.form)">
        <% selectitem = [5, 10, 30, 50] %>
        <% selectitem.each do |item| %>
          <% if displayitem == item %>
            <%= "<option value=#{item} selected>#{item}件</option>"%>
          <% else %>
            <%= "<option value=#{item}>#{item}件</option>"%>
          <% end %>
        <% end %>
      </select>
      <% for i in 1..maxpage do %>
        <a href="mainlist?page=<%= i.to_s %>&displayitem=<%= displayitem %>">
          <%= i.to_s %>
        </a>
        &nbsp;
      <% end %>
    </form>
  </div>

  <div>
    <form class="freekeyword" action="freekeyword" method="post">
      フリーキーワード検索: <input type="text" name="keyword" value="" placeholder="キーワード">
      <input type="submit" value="検索">
    </form>
  </div>

  <form method="post" action="list"/>
  <div class="tablescroll">
    <table class="list">
      <tr>
        <th>削除</th>
        <th>修正</th>
        <% ['id', 'title', 'author', 'yomi', 'publisher', 'page', 'price', 'purchase_price', 'isbn_10', 'isbn_13', 'size', 'publish_date','purchase_date', 'purchase_reason', 'notes'].each do |name| %>
        <th><%= "#{jpnametable[name].escapeHtml}" %></th>
        <% end %>
      </tr>

      <% rows.each do |row| %>
        <tr>
        <% row.each_with_name do | val, name| %>
        <% if name == 'id' then %>
          <td><input type="radio" name="operation" value=<%= "#{val.escapeHtml}.delete" %> ></td>
          <td><input type="radio" name="operation" value=<%= "#{val.escapeHtml}.edit" %> ></td>
        <% end %>
        <td> <%= "#{val.to_s.escapeHtml}" %> </td>
      <% end %>
      </tr>
    <% end %>
    </table>
  </div>
  <input type="submit" value="選択した処理を実行" />
  <hr>
</body>
</html>
<% end %>
<% dbh.disconnect %>
